<link rel="stylesheet" href="/css/formulario.css">

<body>
    <form action="/billetera/agregar/{{user.idUsuario}}" method="post" class="container">
    
        <p class="titulo">
            Crea tu Billetera
        </p>
        <p class="subtitulo">
            Crea una billetera para mantener datos seguros
        </p>
        <div>
            <label class="nombre">Nombre de la Billetera</label>
            <input class="input-nombre"  name="alias" type="text" placeholder="Ingresa tu correo" required>
        </div>
        <div>
            <label class="contraseña">Propietaro</label>
            <input class="input-contraseña"  name="propietario" type="text" placeholder="Ingresa tu contraseña" required>
        </div>
        <button class="btn" type="submit">Crear</button>
    </form>
    <a href="/principal" class="regresar">Regresar</a>
</body>