<link rel="stylesheet" href="/css/inicio.css">
<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" />

<body>
    <nav>
        <div id="image"><img  src="/img/logo_1.png" alt="Security Vault" height="60px"></div><p>SECURTY VAULT</p>
        <ul>
            <li><a id="active" href="/registro">Abre tu cuenta</a></li>
            <li><a href="/login">Acceso Usuarios</a></li>
        </ul>
    </nav>
    <div>
        <ul>
            <li>Inicio</li>
            <li><a class="texto2" href="/">/SecurityVault</a></li>
        </ul>
    </div>
    <div>
        <div class="btn">
            <a class="texto" href="/login">Ingresa a SecurityVault</a>
        </div>
    </div>
    <div>
        <img class="persona" src="/img/persona.png" alt="">
    </div> 
    <div class="container">
        <p class="titulo">Todo lo que esperas de tu Billetera Virtual</p>
        <div class="box">
            <p class="title">Todas tus cuentas en un solo lugar.</p>
        </div>
        <div class="box2">
            <p class="title2">¿Olvidas tus ideas?</p>
            <br>
            <p class="titulo2">No te procupes mas.</pc>
        </div>
        <div class="box3">
            <p class="title">Informate sobre la proteccion de datos.</p>
        </div>
    </div>
</body>