nav {
    height: 80px;
    background: #ADDFAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
a {
    position: relative;
    top: 8px;
    text-decoration: none;
    color: #000;
}
p{
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    left: 200px;
    top: 25px;
}
div li{
    list-style: none;
    position:fixed;
    top: 150px;
    left: 70px;
    font-size: 20px;
}
.texto2{
    color:#c36f29;
    position: fixed;
    top: 150px;
    left: 120px;
}
.texto{
    text-decoration: none;
}
.persona{
    position: fixed;
    top: 120px;
    left: 1200px;
    width: 220px ;
    height: 267px;
}
.btn{
    border-radius: 5px;
    border: 2px solid #C36F29;
    background: linear-gradient(0deg, #69C 0%, #69C 100%), #D9D9D9;
    position: fixed;
    top: 200px;
    left: 70px;
    width: 200px;
    height: 60px;
}
.container {
    position: fixed;
    top: 430px;
    max-width: 100%;
    height: 360px;
    background: #C2F1C1;
}
.titulo{
    position: fixed;
    top: 450px;
    left: 540px;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box{
    position: fixed;
    top: 510px;
    left: 100px;
    border-radius: 10px;
    border: 1px solid #C36F29;
    background: #FFF;
    width: 360px;
    height: 237px;
}
.box2{
    position: fixed;
    top: 510px;
    left: 600px;
    border-radius: 10px;
    border: 1px solid #C36F29;
    background: #FFF;
    width: 360px;
    height: 237px;
}
.box3{
    position: fixed;
    top: 510px;
    left:1100px;
    border-radius: 10px;
    border: 1px solid #C36F29;
    background: #FFF;
    width: 360px;
    height: 237px;
}
.title{
    position: relative;
    top: 150px;
    left: 50px;
    display: flex;
    width: 245px;
    height: 78px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title2{
    position: relative;
    top: 150px;
    left: 50px;
    display: flex;
    width: 245px;
    height: 78px;
    flex-direction: column;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titulo2{
    position: relative;
    top: 60px;
    left: 70px;
    display: flex;
    width: 245px;
    height: 78px;
}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a:active{
    color: #1b1b1b;
    background: #fff;
    text-decoration: none;
}
nav #menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}