<link rel="stylesheet" href="/css/principal.css">

<body>
    <nav>
        <div id="image"><img  src="/img/logo.png" alt="Security Vault" height="60px"></div>
        <ul>
            <li><a id="active" href="/capacitacion">Capacitacion</a></li>
            <li><a id="active" href="/agregar">Crear Billetera</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <p class="texto">
            La "Ley de Protección de Datos Personales" se refiere a la legislación 
            diseñada para salvaguardar la privacidad y los derechos de las personas 
            en relación con el procesamiento de sus datos personales. La forma y el 
            alcance de estas leyes pueden variar según el país o la jurisdicción, 
            pero en términos generales, buscan establecer principios y regulaciones 
            para garantizar que la información personal de los individuos sea manejada 
            de manera justa, transparente y segura.
        </p>
        <a class="more" href="https://www.figma.com/exit?url=https%3A%2F%2Fwww.accessnow.org%2Fproteccion-de-datos-es-importante%2F">Seguir Leyendo...</a>
    </div>
</body>