<link rel="stylesheet" href="/css/principal.css">

<body>
        <nav>
        <div id="image"><img  src="/img/logo.png" alt="Security Vault" height="60px"></div>
        <ul>
            <li><a id="active" href="/registro">Capacitacion</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </nav>
</body>