<link rel="stylesheet" href="/css/capacitacion.css">

<body>
        <nav>
        <div id="image"><img  src="/img/logo.png" alt="Security Vault" height="60px"></div>
        <ul>
            <li><a id="active" href="/agregar">Crear Billetera</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <p class="texto1">La protección de datos personales es un tema muy 
            importante en la actualidad. La protección de datos se refiere a 
            las prácticas, salvaguardas y principios fundamentales puestos en 
            ejercicio para proteger tu información personal 
            y asegurar que te mantengas en control de ella
        </p>
        <ul>
            <li class="puntos">La protección de datos personales es un derecho fundamental protegido por la Constitución española.</li>
            <li class="puntos2">La Ley de Protección de Datos Personales reconoce y protege el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos que sean susceptibles de tratamiento por entidades de naturaleza pública o privada.</li>
        </ul>
        <p class="texto2">
            El responsable o usuario del archivo de datos debe adoptar las 
            medidas técnicas y organizativas que resulten necesarias para 
            garantizar la seguridad y confidencialidad de los datos personales, 
            de modo de evitar su adulteración, pérdida, consulta o tratamiento no 
            autorizado, y que permitan detectar desviaciones, intencionales o no, 
            de información, ya sea que los riesgos provengan de la acción humana o 
            del medio técnico utilizado
        </p>
    </div>
    <a class="regresar" href="/principal">Regresar</a>
</body>